.main_page_container {
  display: flex;
  z-index: 2;
  margin-top: 30px;

  position: relative;
  //   margin-bottom: calc(8vh - 520px);
  margin-bottom: -220px;

  h1,
  h2 {
    font-size: 45px;
    font-weight: 500;
    color: #50535a;
  }
  h1 {
    margin-top: 50px;
  }
  h2 {
    font-weight: 300;
    margin-bottom: 70px;
  }
  img {
    width: 295px;
    max-height: 443px;
    margin-right: 50px;

    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.3));

    // box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
    // -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
    // -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
  }

  .slider_wrapper {
    position: relative;
    height: 170px;
    width: 660px;

    padding: 23px 27px 0px 27px;

    background-color: #00000070;
    background-color: rgba(0, 0, 0, 0.7);

    & > div {
      position: static;
    }

    & ul {
      //   outline: 3px solid red;
      left: 0;
      bottom: 10px;
    }

    .slide {
      p {
        font-size: 24px;
        line-height: 1.2;
        color: #ffffff;
      }
    }
  }
}

.paletteWrapper {
  position: relative;

  //   height: 1px;

  z-index: 1;
  .palette_bg {
    // height: 100%;
    // width: 100vw;

    // background: url('../../../assets/img/palette-bg.png') center center no-repeat;
    // background-size: cover;

    // position: absolute;
    // bottom: -87px;
    // left: 0;
    // right: 0;

    // z-index: -1;
    // margin-bottom: calc(5vh - 220px);
    margin-bottom: -60px;

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;

      mask-image: url("../../../assets/img/smear.svg");
      mask-repeat: no-repeat;
      mask-size: 120% 300px;
      //   mask-size: cover;
      mask-position: left 50% top 0;
    }
  }
}

.mobile_paletteWrapper {
  position: relative;
  height: 1px;
  z-index: 1;

  .palette_bg {
    height: 260px;
    width: 100vw;

    background: url("../../../assets/img/palette-bg.png") center center
      no-repeat;
    background-size: cover;

    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;

    z-index: -1;
  }
}

.mobile_main_page_container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 30px;
  position: relative;
}

.mobile_slider_wrapper {
  padding: 8px 13px 35px 13px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);

  .slide {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      color: #ffffff;
    }
  }
}

.mobile_main_image_wrapper {
  position: relative;
  margin-bottom: calc(6vw + 35px);

  img {
    width: 100%;
    box-shadow: none;
    display: block;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 20px 15px;

    // box-sizing: border-box;

    // width: 100%;

    background-color: #00000099;
    h1,
    h2 {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      margin-top: 0;
    }
    h2 {
      font-weight: 300;
    }
  }
}

.noisy_canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-image: url("../../../assets/img/white_noise_6.gif");

  @media (max-width: 1000px) {
    height: 1200px;
  }
}
