button.slick-arrow {
    width: 30px !important;
    height: 30px !important;
    .slick-arrow {

    }
    &.slick-disabled {
        &::before {
            display: none !important; 
        } 
    }
    &.slick-prev {
        left: -35px;
        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: url('../../../../assets/img/slide-arrow-left.svg') center center no-repeat;
        }
    }
    &.slick-next {
        @media (max-width: 600px) {
            right: -35px;
        }
        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: url('../../../../assets/img/slide-arrow-right.svg') center center no-repeat;
        }
    }
}