.main_page_container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-top: 30px;
  position: relative;
  margin-bottom: -220px;

  h1,
  h2 {
    font-size: 30px;
    font-weight: 500;
    color: #50535a;
  }
  h1 {
    margin-top: 20px;
  }
  h2 {
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.image_wrapper {
  width: 305px;
  height: 400px;

  margin-right: 50px;
  display: block;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  background-color: white;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.desc_wrapper {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

.paletteWrapper {
  position: relative;
  z-index: 1;
  top: 13px;
  margin-bottom: 43px;

  .palette_bg {
    margin-bottom: -83px;
    // filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));

    img {
      display: block;
      width: 100%;
      height: 275px;
      object-fit: cover;
      mask-image: url('../../../../assets/img/smear.svg');
      mask-repeat: no-repeat;
      mask-size: 120% 275px;
      mask-position: left 50% top 0;

      // outline: 3px solid red;
    }
  }
}

.slider_wrapper {
  margin-top: auto;

  position: relative;
  height: 178px;
  width: 660px;
  min-width: 100%;
  padding: 23px 23px 0px 23px;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;

  & > div {
    position: static;
  }

  & ul {
    left: 0;
    bottom: 10px;
  }

  .slide {
    p {
      font-size: 24px;
      line-height: 1.2;
      color: #ffffff;
    }
  }
}

.mobile_paletteWrapper {
  position: relative;
  height: 1px;
  z-index: 1;

  .palette_bg {
    height: 260px;
    width: 100vw;
    background: url('../../../../assets/img/palette-bg.png') center center
      no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.mobile_main_page_container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 30px;
  position: relative;
}

.mobile_slider_wrapper {
  padding: 8px 13px 35px 13px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);

  .slide {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      color: #ffffff;
    }
  }
}

.mobile_main_image_wrapper {
  position: relative;
  margin-bottom: calc(6vw + 35px);

  img {
    width: 100%;
    box-shadow: none;
    display: block;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 20px 15px;
    background-color: #00000099;
    h1,
    h2 {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      margin-top: 0;
    }
    h2 {
      font-weight: 300;
    }
  }
}

.noisy_canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-image: url('../../../../assets/img/white_noise.jpg');

  @media (max-width: 1000px) {
    height: 1200px;
  }
}

.description_text {
  color: white;
  font-size: 20px;

  span {
    &:not(:first-child) {
      margin-top: 8px;
    }
    &:last-child {
      display: block;
    }
  }
}
