.footer {
  background-color: #000000;
  padding: 50px 200px 60px 78px;

  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 80px;

  height: 100%;

  & > img {
    grid-area: 2/1/3/2;
    height: 100%;
  }

  .head_of_footer {
    grid-area: 1/2/2/3;

    padding-bottom: 10px;
    border-bottom: 0.4px solid #ffffff;

    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
  }

  .footer_info {
    grid-area: 2/2/3/3;
    margin-bottom: -5px;
    height: 100%;
  }

  .middle_of_header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;

    margin: 0;
    padding: 0;

    &:first-child {
      margin-right: 30px;
    }

    li {
      display: flex;
      align-items: center;

      font-size: 18px;
      color: #ffffff;

      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
      }

      img {
        margin-right: 16px;
      }
    }
  }

  .docs {
    padding-top: 1px;
    height: 100%;

    li {
      display: flex;
      justify-content: end;
      align-items: center;

      a {
        text-align: right;
      }
    }
  }

  .bottom_of_footer {
    display: flex;
    margin-top: 12px;
    color: #ffffff;

    p {
      font-size: 18px;
      font-weight: 300;
      color: #ffffff;
      margin-right: 40px;

      span {
        font-weight: 500;
        color: #ffffff;
      }
    }
  }

  .socials {
    margin-top: auto;
    margin-bottom: 17px !important;

    .social {
      margin-left: 20px;
    }

    img {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.mobile_footer {
  background-color: #000000;

  display: flex;
  flex-direction: column;

  padding-top: 20px;

  position: relative;

  .footer_info {
    width: 100%;
  }

  .head_of_footer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 15px;

    border-bottom: 1px solid #ffffff;

    & > img {
      position: absolute;
      bottom: 19%;
      right: 10%;
      width: 135px;
      opacity: 0.15;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      //   margin-left: 30px;
      //   margin-bottom: 5px;
    }
  }

  .middle_of_header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;

    margin: 0;
    padding: 0;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      display: flex;
      align-items: center;

      font-size: 15px;
      font-weight: 400;
      color: #ffffff;

      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
      }

      img {
        margin-right: 16px;
      }
    }

    .address {
      //   background-color: red;
      img {
        align-self: flex-start;
        margin-top: 1px;
      }

      address {
        font-style: normal;
      }
    }
  }

  .bottom_of_footer {
    display: flex;
    flex-direction: column;

    margin: 30px 0;

    color: #ffffff;

    p {
      font-size: 14px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 5px;

      span {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: end;

    margin-bottom: 25px;

    a {
      margin-left: 25px;
    }
  }
}
