.wrapper {
  background-color: #000;
}
.shop {
  display: flex;
  align-items: flex-start;

  padding-top: 150px;

  @media (max-width: 900px) {
    padding-top: 100px;

    flex-direction: column;
    align-items: center;
  }
}
.shopInfo {
  width: 228px;
  color: #fff;
  margin-right: 54px;
  @media (max-width: 900px) {
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
  }
}
.shopImage {
  width: 228px;
  height: 228px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  & img {
    max-width: 100%;
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.shopTitle {
  margin-bottom: 10px;

  color: #fff;
  text-decoration: none;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100.3%;
  @media (max-width: 900px) {
    margin-bottom: 6px;

    font-size: 17px;
  }
}
.shopDescription {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 100.3%;
}
.products {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (max-width: 900px) {
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
}
.productLink {
  color: #fff;
  text-decoration: none;
  & a {
    text-decoration: none;
  }
  @media (max-width: 900px) {
    display: block;
    width: 100%;
  }
}
.product {
  width: 268px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 4px;
  background-size: contain;

  & .productReadMore {
    display: flex;
    opacity: 0;
    height: 60px;

    padding-top: 10px;
    padding-left: 6px;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transition: opacity 0.5s ease;

    font-family: 'Geometria';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100.3%;

    &::after {
      content: url('../../../../assets/img/showroom/arrow.svg');
      display: block;
      margin-top: 1px;
      margin-left: 6px;
    }
  }
  &:hover {
    & .productReadMore {
      opacity: 1;
      @media (max-width: 900px) {
        opacity: 0;
      }
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

    margin-bottom: 11px;
  }
}
.productWrapper {
  position: relative;
  // width: 200px;
  height: 100%;

  @media (max-width: 900px) {
    height: unset;
    width: 100%;
    margin-bottom: 10px;

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }
}

.productInfo {
  padding: 8px;
  height: 68px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  box-sizing: border-box;
}
.productTitle {
  grid-row: 1/2;
  grid-column: 1/3;

  font-family: 'Geometria';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100.3%;
}
.productCost {
  margin-top: auto;
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100.3%;
}
.productButton {
  margin-top: auto;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 66px;
  height: 17px;
  margin-left: auto;
  background-color: #4f4b98;
  border: 0;
  color: #fff;

  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100.3%;

  transition: all 0.3s ease;

  &:hover {
    background-color: #403d79;
  }

  &:active {
    background-color: #403d79;
    color: #6b68a7;
  }
}
.backLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 44px;
  margin-left: auto;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-size: 22.8237px;
  line-height: 29px;
  & a {
    color: #fff;
    text-decoration: none;

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        transform: translateX(-10px);
      }
    }
  }
  @media (max-width: 900px) {
    margin-top: 10px;
  }
}
