.months {
  // display: inline-block;
  // padding: 0;

  grid-area: 1/1/2/2;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-35%);

    height: 20px;
    width: 1px;
    background-color: #fff;
  }

  button {
    color: #bfbfbf;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;

    background-color: transparent;
    border: none;
    text-transform: capitalize;

    padding: 0;
  }
}
