.sectionPainter {
  &__mobile {
    margin-top: 50px;
  }
}

.info {
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-auto-rows: minmax(20px, min-content) minmax(20px, min-content)
    minmax(20px, min-content) auto;
  column-gap: 30px;

  height: 480px;
  max-height: 480px;

  &__mobile {
    height: unset;
    max-height: unset;

    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}

.image {
  grid-area: 1/1/5/2;

  &__mobile {
    grid-area: 3/1/4/2;
    height: 320px;

    img {
      object-position: left top;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  margin-top: 0;
  height: max-content;

  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #50535a;

  &__mobile {
    grid-area: 1/1/2/2;
  }
}

.short {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #50535a;

  margin-bottom: 30px;

  &__mobile {
    grid-area: 2/1/3/2;
  }
}

.title_h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #50535a;

  margin-bottom: 7px;
}

.biography {
  // overflow-y: auto;
  // & > div {
  //   position: relative;

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     z-index: 100;

  //     width: 100%;
  //     height: 35px;

  //     background: linear-gradient(
  //       180deg,
  //       rgba(0, 0, 0, 0) 0%,
  //       rgba(0, 0, 0, 1) 100%
  //     );
  //   }
  // }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;

    color: #000000;

    margin-bottom: 15px;

    &:last-child {
      padding-bottom: 20px;
    }
  }
}

.social {
  margin-top: 25px;

  a {
    background-color: #50535a;
    width: 37px;
    height: 37px;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    svg {
      height: 60%;
      width: 60%;
    }
  }
}

.pictures {
  margin-top: 130px;
  margin-bottom: 80px;

  .title_h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;

    color: #50535a;

    margin-bottom: 64px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  column-gap: 50px;
  row-gap: 45px;

  a {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    border: 4px solid #50535a;

    &:hover {
      .pic_wrapper {
        transform: translateY(0);
      }
      img {
        filter: blur(2px);
        outline-width: 0;
        outline-offset: 3px;
      }
    }
  }
}

.picture {
  position: relative;

  img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    display: block;

    transition: all 0.3s ease;
  }
}

.pic_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  padding: 5px 10px;

  background-color: rgba(black, 0.7);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateY(100px);
  transition: transform 0.3s ease;
}

.title {
  color: white;
}

.price {
  color: white;
  align-self: flex-end;
}
