.PageTemplate {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("../../assets/img/white_noise.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;

  overflow-y: hidden;
}
