.slick-slider {
  width: 100%;
  min-width: 0;
}
.slick-list {
  width: 600px;

  @media (max-width: 1000px) {
    width: 100%;
    height: 100% !important;
  }
}
.slick-track {
  margin: auto 0;
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    height: 100%;
  }
}
.slick-slide {
  width: 100%;
  min-width: 0;
  margin: 0 20px;

  @media (max-width: 1000px) {
    margin: 0;
  }

  div {
    display: flex !important;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
