.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 61px 0;

  .navLinks {
    display: flex;
    align-items: center;

    a {
      margin: 0 17px;

      font-size: 25px;
      font-weight: 300;

      color: #50535a;
      text-decoration: none;

      position: relative;
      z-index: 5;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: -3px;
        top: 3px;
        z-index: -1;
        display: block;
        width: 11px;
        height: 11px;
        background-color: #d6338a;

        transition: all 0.4s ease;
      }

      &:hover {
        &::before,
        &::after {
          width: 2px;
          height: 25px;
          left: -10px;
        }

        // &:active {
        //   &::after {
        //     width: 2px;
        //     height: 25px;
        //     // left: calc(100% + 10px);
        //     animation: movement 0.4s ease;
        //   }
        // }
      }

      &.pressed {
        &::before {
          width: 2px;
          height: 25px;
          left: -10px;
        }
        &::after {
          width: 2px;
          height: 25px;
          left: calc(100% + 10px);
          // animation: movement 0.4s 1 ease forwards;
        }
      }
    }
  }

  &__primary {
    position: absolute;
    width: 100%;
    z-index: 500;

    .navLinks {
      a {
        color: white;
      }
    }

    a {
      // color: white;
      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

// @keyframes movement {
//   0% {
//     left: -10px;
//     // transform: translateX(0);
//   }

//   100% {
//     left: calc(100% + 10px);
//     // transform: translateX(calc(100% + 10px));
//   }
// }
