/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.order_item {
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

  margin-bottom: 75px;

  .img_wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 158px;

    img {
      max-width: 237px;
      max-height: 158px;
    }
  }

  .order_info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    .order_name {
      display: flex;
      flex-direction: column;
    }

    .other_info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 100px;

      & > div {
        display: flex;
        flex-direction: column;

        &:nth-of-type(1) {
          flex: 1 0 55%;
        }
        &:nth-of-type(2) {
          flex: 1 0 25%;
        }
        &:nth-of-type(3) {
          flex: 1 0 20%;
        }
      }
    }
  }

  .price_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div.wrap {
      align-self: flex-end;
      margin-bottom: 18px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      //   padding-top: 40px;

      span {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1 / 5 / 2 / 6;

    svg {
      margin-left: 27px;
      cursor: pointer;
      padding: 10px 3px;

      transition: all 0.3s ease;

      circle {
        fill: #50535a;

        transition: all 0.3s ease;
      }

      &:hover {
        transform: scale(1.3);

        circle {
          fill: #d6358c;
        }
      }

      &:active {
        transform: scale(0.5);
        filter: blur(10px);

        circle {
          fill: #d6358c;
        }
      }
    }
  }

  .head_span {
    font-size: 20px;
    font-weight: 500;
    color: #50535a;
    margin-bottom: 5px;
  }

  span {
    font-size: 16px;
    font-weight: 300;
    color: #50535a;
  }
}
.order_item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.order_item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.order_item > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.order_item > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.order_item > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.order_page_footer {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  .summury {
    display: flex;
    justify-content: end;

    margin-bottom: 28px;

    p {
      font-size: 32px;
      font-weight: 500;
      color: #50535a;
    }
  }

  .button_group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      position: relative;
      z-index: 0;

      font-family: "Geometria", sans-serif;
      font-size: 24px;
      font-weight: 500;

      padding: 15px 38px;
      border: none;

      color: #ffffff;
      background-color: #4f4b98;

      cursor: pointer;

      overflow: hidden;

      transition: all 0.3s ease;

      &::before {
        content: "";
        display: block;
        position: absolute;

        left: -30px;
        top: 31%;

        height: 20px;
        width: 5px;
        background-color: #f0e400;

        transform: skew(-25deg);
        transition: left 0.3s ease;
      }

      &:hover {
        &::before {
          left: 17px;
        }
      }

      // &:disabled {
      //   // outline: 1px solid #d6358c;
      //   // background-color: white;
      //   // color: #d6358c;

      //   &::before {
      //     display: none;
      //   }
      // }
    }

    a {
      display: flex;
      align-items: center;
      font-size: 27px;
      font-weight: 500;
      color: #50535a;

      text-decoration: none;

      svg {
        margin-right: 10px;

        transition: transform 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(-7px);
        }
      }
    }
  }
}

.input_number {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  padding: 5px 0;
  position: relative;

  .value_filed {
    width: 100px !important;
    border: 1px solid #50535a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d6358c;
  }

  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  button {
    background-color: #ffffff00;
    border: none;
    font-size: 27px;
    line-height: 0.93;
    color: #aaa;
    cursor: pointer;
    padding: 0 12px 5px 13px;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.5);
    }

    &:active {
      transform: scale(1);
      color: black;
    }

    &.disabled {
      transform: unset;
      color: #eee;
    }
  }
  .plus {
    right: 0px;
  }
  .minus {
    left: 0px;
    top: 0px;
  }
}

// Mobile version

.mobile_order_item {
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
  color: #50535a;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
      display: block;
      width: 25px;
      height: 25px;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));

      circle {
        fill: white;
      }

      path {
        stroke: #50535a;
      }
    }
  }

  span {
    font-size: 16px;
    font-weight: 300;
  }

  .head_span {
    font-weight: 500;
  }

  .img_wrapper {
    img {
      width: 100%;
    }
  }

  .order_info {
    font-size: 14px;

    .order_name {
      margin: 15px 0;

      span {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .autor {
      margin: 10px 0 !important;
      // font-size: 14px;
    }
  }

  .price_info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;

    span {
      // margin-top: 7px;
      font-weight: 500;
      font-size: 26px;
    }

    .mobile_value_filed {
      min-width: 100px;
      border: 1px solid #50535a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #d6358c;

      button {
        color: #888;

        &.disabled {
          // background-color: red;
          color: #eee;
        }
      }
    }

    button {
      background-color: #ffffff00;
      border: none;

      font-size: 27px;

      cursor: pointer;
    }
  }
}

.mobile_order_page_footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .summury {
    align-self: flex-end;
    display: flex;
    justify-content: end;
    margin: 40px 0;

    p {
      text-align: right;
      color: #50535a;
      font-weight: 500;
      font-size: 26px;
    }
  }

  .button_group {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    margin-bottom: 30px;

    & > button {
      position: relative;

      font-family: "Geometria", sans-serif;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;

      padding: 10px 20px;
      border: none;

      color: #ffffff;
      text-transform: uppercase;
      background-color: #4f4b98;

      cursor: pointer;
    }
  }
}

// .order_item {
//     display: grid;
// grid-template-columns: repeat(5, 1fr);
// grid-template-rows: 1fr;
// grid-column-gap: 40px;
// grid-row-gap: 0px;

// margin-bottom: 75px;
//     .img_wrapper {
//         grid-area: 1 / 1 / 2 / 2;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 237px;
//         height: 158px;
//         img {
//             max-width: 237px;
//             max-height: 158px;
//         }
//     }

//     .order_info {
//         grid-area: 1 / 2 / 2 / 5;
//         display: flex;
//         flex-direction: column;
//         align-items: start;
//         justify-content: space-around;

//         .order_name {
//             display: flex;
//             flex-direction: column;
//         }

//         .other_info {
//             width: 100%;
//             display: flex;
//             justify-content: space-between;
//             padding-right: 100px;
//             & > div {
//                 display: flex;
//                 flex-direction: column;
//             }
//         }
//     }

//     .price_info {
//         display: flex;
//         align-items: center;
//         div {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             span {
//                 font-size: 25px;
//                 font-weight: 500;
//             }
//         }
//         grid-area: 1 / 5 / 2 / 6;

//         svg {
//             margin-left: 27px;
//         }
//     }

//     .head_span {
//         font-size: 20px;
//         font-weight: 500;
//         color: #50535A;
//         margin-bottom: 5px;
//     }

//     span {
//         font-size: 16px;
//         font-weight: 300;
//         color: #50535A;
//     }
// }

// .order_page_footer {
//     display: flex;
//     flex-direction: column;

//     margin-bottom: 50px;

//     .summury {
//         display: flex;
//         justify-content: end;

//         margin-bottom: 30px;

//         p {
//             font-size: 38px;
//             font-weight: 500;
//             color: #50535A;
//         }
//     }

//     .button_group {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         button {
//             font-family: 'Geometria', sans-serif;
//             font-size: 24px;
//             font-weight: 500;

//             padding: 15px 38px;
//             border: none;

//             color: #ffffff;
//             background-color: #4F4B98;

//             cursor: pointer;
//         }

//         a {
//             display: flex;
//             align-items: center;
//             font-size: 27px;
//             font-weight: 500;
//             color: #50535A;

//             text-decoration: none;
//             svg {
//                 margin-right: 10px;
//             }
//         }
//     }
// }

// .input_number {
//     display: flex;
//     flex-direction: row !important;
//     width: 100%;
//     padding: 5px 0;

//     position: relative;
//     .value_filed {
//         width: 100px !important;
//         border: 1px solid black;
//         padding: 5px 0;
//     }
//     input {
//         visibility: hidden;
//         width: 0;
//         height: 0;
//     }

//     button {
//         position: absolute;
//         top: 5px;

//         background-color: #ffffff00;
//         border: none;

//         font-size: 27px;

//         cursor: pointer;
//     }
//     .plus {
//         right: 12px;
//     }
//     .minus {
//         left: 12px;
//         top: 4px;
//     }
// }

// .mobile_order_item {
//     position: relative;
//     margin-top: 40px;
//     padding-bottom: 40px;
//     border-bottom: 1px solid #000;
//     .close {
//         position: absolute;
//         top: 10px;
//         right: 10px;
//     }
//     span {
//         font-size: 18px;
//         font-weight: 300;
//     }
//     .head_span {
//         font-weight: 500;
//     }
//     .img_wrapper {
//         img {
//             width: 100%;
//         }
//     }
//     .order_info {
//         .order_name {
//             margin: 15px 0;
//             span {
//                 font-size: 20px;
//                 font-weight: 500;
//             }
//         }
//         .autor {
//             margin: 10px 0 !important;
//         }
//     }
//     .price_info {
//         display: flex;
//         width: 100%;
//         align-items: center;

//         justify-content: space-between;

//         margin-top: 20px;

//         span {
//             margin-top: 7px;
//             font-weight: 500;
//             font-size: 26px;
//         }

//         .mobile_input_number {
//             display: flex;
//             flex-direction: row !important;
//             padding: 5px 0;

//             position: relative;
//             .value_filed {
//                 width: 100px !important;
//                 border: 1px solid black;
//                 padding: 5px 0;
//                 display: flex;
//                 justify-content: center;
//             }
//             input {
//                 visibility: hidden;
//                 width: 0;
//                 height: 0;
//             }

//             button {
//                 position: absolute;
//                 top: 5px;

//                 background-color: #ffffff00;
//                 border: none;

//                 font-size: 27px;

//                 cursor: pointer;
//             }
//             .plus {
//                 right: 0px;
//             }
//             .minus {
//                 left: 0px;
//                 top: 4px;
//             }
//         }
//     }
// }

// .mobile_order_page_footer {
//     display: flex;
//     flex-direction: column;
//     width: 100%;

//     .summury {
//         align-self: flex-end;
//         display: flex;
//         justify-content: end;
//         margin: 40px 0;
//         p {
//             text-align: right;
//             color: #50535A;
//             font-weight: 500;
//             font-size: 22px;
//         }
//     }

//     .button_group {
//         align-self: center;
//         display: flex;
//         flex-direction: column;
//         align-items: stretch;

//         button {
//             font-family: 'Geometria', sans-serif;
//             font-size: 20px;
//             font-weight: 500;
//             margin-bottom: 35px;

//             padding: 10px 20px;
//             border: none;

//             color: #ffffff;
//             text-transform: uppercase;
//             background-color: #4F4B98;

//             cursor: pointer;
//         }
//     }
// }
