.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  &.active {
    z-index: 100;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
