.card {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 500;

  transform: translate(-50%, -50%);
  // 323px * 1.5 (Ширина карточки со scale 1.5)
  width: 481px;
  // 434px * 1.5 (Высота карточки со scale 1.5)
  height: 651px;

  @media (max-width: 900px) {
    width: 214px;
    height: 287px;
    transform: translate(-50%, calc(-50% - 70px));
  }
}

.cross {
  width: 59px;
  height: 59px;
  position: absolute;
  top: calc(50% - 354px);
  left: calc(50% + 213px);
  z-index: 520;
  box-sizing: border-box;

  opacity: 0;

  animation-name: emergence_close-button;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;

  // opacity: 0.3;

  cursor: pointer;

  transition: all 0.3s ease;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    left: -13px;
    width: 84px;
    height: 2px;
    background-color: #f0e400;
    // transform: translate(-4%, -90%);
  }
  &::before {
    transform: rotateZ(45deg);
  }
  &::after {
    transform: rotateZ(-45deg);
  }

  &:hover {
    transform: rotateZ(90deg);
  }

  @media (max-width: 900px) {
    position: fixed;
    top: calc(50% - 243px);
    left: calc(50% + 95px);
    &::before,
    &::after {
      width: 48px;
    }
  }
}
.cardText {
  position: fixed;
  top: calc(50% + 120px);
  left: calc(50% + 161px);

  height: auto;

  color: red;
  font-size: 80px;

  opacity: 0;

  animation-name: emergence_close-button;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;

  & .cardTitle::after {
    content: '';
    margin-top: 2px;
    display: block;
    height: 1px;
    background-color: #fff;
    width: 0;
    transition: width 0.3s ease;
  }
  &:hover {
    & .cardTitle::after {
      width: 100%;
    }
  }
  @media (max-width: 900px) {
    left: 0;
    top: 310px;
  }
}

.cardTitle {
  width: min-content;
  border-bottom: 0;
  margin-bottom: 8px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Geometria';
  font-style: normal;
  font-weight: 700;
  font-size: 41.4866px;
  line-height: 100.3%;

  transition: border-bottom 0.3s ease;

  @media (max-width: 900px) {
    font-size: 30px;
  }
}

.cardDescription {
  text-transform: none;
  width: 272px;
  color: #fff;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.3%;

  @media (max-width: 900px) {
    font-size: 14px;
  }
}

@keyframes emergence_close-button {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
