.picture_wrapper {
  position: relative;
  margin-bottom: 20px;
  filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, 0.25));

  border: 8px solid #d4d8da;

  .picture_info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    box-sizing: border-box;

    background-color: #00000099;

    padding: 4px 22px 19px 19px;

    z-index: 0;

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: #ffffff;
    }

    svg {
      align-self: flex-end;
    }
  }
}

.mobile_picture_wrapper {
  position: relative;
  margin-bottom: 20px;

  border: 8px solid #d4d8da;

  .picture_info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    box-sizing: border-box;

    background-color: #00000099 !important;

    padding: 4px 22px 19px 19px;

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: #ffffff;
    }

    svg {
      align-self: flex-end;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  display: block;
}
