.blot {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  padding: 0;
  margin-right: 20px;

  cursor: pointer;

  svg {
    path {
      fill: #50535a;
      transition: fill 0.3s ease;
    }
  }

  &:hover {
    svg {
      path {
        fill: #38c3b4;
      }
    }
  }
  &.active {
    svg {
      path {
        fill: #38c3b4;
      }
    }
  }
}

//
