.partners {
  background-color: black;
  padding-top: 50px;
  overflow-x: hidden;

  nav {
    padding-top: 15px;
    margin-bottom: 20px;
  }

  &__mobile {
  }
}

.title {
  color: white;
  position: relative;

  font-weight: 700;
  font-size: 35px;
  line-height: 44px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 100vw;
    height: 1px;
    background-color: #fff;
  }

  &__mobile {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    &::after {
      bottom: -7px;
    }
  }
}
