.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  position: relative;

  margin-bottom: 56px;
  padding-top: 150px;

  overflow: hidden;

  @media (max-width: 900px) {
    overflow: hidden;
    display: block;
    padding-top: 100px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 100;
    bottom: 0;
    background: -moz-linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 30px;
    height: 80%;
  }

  // &::before {
  //   left: 0;
  // }

  // &::after {
  //   right: 0;
  // }

  &.left {
  }
}
.category {
  margin-right: 14px;
  margin-bottom: 10px;

  font-family: 'Geometria';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100.3%;
  white-space: nowrap;
  text-align: center;

  text-decoration: none;
  color: #fff;
  cursor: pointer;

  &::after {
    content: attr(data-text);
    visibility: hidden;
    overflow: hidden;
    font-weight: 700;
    height: 0;
    display: block;
  }

  &:hover {
    // font-weight: 700;
    background: linear-gradient(180deg, #d6358c 32.54%, #4f4b98 96.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // font-weight: 500;
  }

  &.active {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100.3%;
    /* identical to box height, or 20px */

    background: linear-gradient(180deg, #d6358c 32.54%, #4f4b98 96.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
