.nav {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 56px;
  padding-top: 150px;

  overflow-x: hidden;

  @media (max-width: 900px) {
    display: block;
    padding-top: 100px;
  }
}
.category {
  margin-right: 18px;

  font-family: 'Geometria';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100.3%;

  text-decoration: none;
  color: #fff;
  &.active {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100.3%;
    /* identical to box height, or 20px */

    background: linear-gradient(180deg, #d6358c 32.54%, #4f4b98 96.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
